// Generelle CSS
html,
body,
#root {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #010101;
  width: 100%;
  min-height: 100vh;
}

h1 {
  padding: 1rem;
  font-size: 20px;
}

//CSS for Nav
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem 1.5rem 3rem;
  flex-wrap: wrap;

  a {
    color: #010101;
  }

  a:hover {
    color: #7f87f8;
  }
}

.logo-home a {
  font-size: 1.5rem;
  font-weight: bold;
}

.categories {
  display: flex;
  gap: 2.5rem;
}

//CSS for Dashboard
.loggin {
  padding: 2rem;

  input {
    background-color: #fff;
    color: #010101;
  }

  button {
    background-color: #010101;
    color: #fff;
  }
}

//CSS for mobil
@media (max-width: 900px) {
  h1 {
    font-size: 23px;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
  }
}
